/** global varibles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #093070;
    --color2: #1FB261;
    --color3: #ffca2c;
    --roboto: "Roboto", sans-serif;
    --open-sans: "Open Sans, sans-serif";
    /* mobile view */
    --h1: 1.5rem;
    --h2: 1.25rem;
    --p: 0.90rem;
    --b: 0.75rem;
    --pad5: 5px;
    --pad10: 10px;
    --pad15: 15px;
    /* desktop view */
    --pd: 0.615rem; 
    --h2d: 1rem;

}

/** structure of html. **/

html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 100vh;
    background-position: center center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* Opcional: Faz a imagem permanecer fixa ao rolar a página */
    background-color: rgba(255, 255, 255, 0.925);
}

body::before {
    content: ''; /* Necessário para pseudo-elementos */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255); /* Cor preta com 50% de opacidade */
    z-index: -1; /* Garante que o overlay fique atrás do conteúdo */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    color: white;
    border-bottom: 5px solid var(--color2);
    padding: var(--pad15);
    margin: 50px;
    width: 100%;
}

main {
    flex: 1;
    width: 90%;
    padding: 10px;
}

footer {
    background-color: var(--color1);
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    border-top: 5px solid var(--color3);
}

/** elements **/

h1 {
    font-size: var(--h1);
    font-family: var(--roboto);
    padding: 15px;
}

h2 {
    font-size: var(--h2);
    font-family: var(--roboto);
}

h3 {
    font-size: var(--h3);
    font-family: var(--roboto);
}

p, label, input, input[type="date"],
 input[type="submit"], textarea {
    font-size: var(--p);
    font-family: var(--roboto);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: var(--color1);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    font-family: var(--roboto);
    font-size: var(--h2);
    text-align: center;
}


hr {
    margin: 1rem;
}

/** blocks **/

.hero {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.navigation a:hover,
.avigation a:active,
.button2 a:hover,
.button2 a:active {
    color: var(--color1);
    background-color: var(--color3);
    transition: background-color 0.5s ease;
    transition-delay: 0s;
}

.navigation {
    grid-column: 1 /span 2; 
    display: flex;
    align-items: center;
}

.web {
    display: flex;
}

.title {
    text-align: center;
    background-color:rgba(0, 0, 0, 0.226);
    padding: 10px;
    border-radius: 6px;
}

.social {
    background: none;
}

.button {
    width: 100%;
    justify-self: center;
    text-align: center;
}

.subtitle {
    font-weight: bold;
}

.block {
    display: grid;
    grid-template-columns: 1fr .6fr 1fr;
}

.socialdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.social {
    width:35px;
    height: auto;
}

.foot {
    font-family: var(--roboto);
    font-size: var(--b);
}

.contact {
    text-align: start;
    padding: 15px;
}

.student {
    text-align: end;
    padding: 15px;
}

.navigation2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.button2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

/** population **/

.links {
    font-size: .9rem;
    color: black;
    padding: 0;
    border-radius: 0;
    background-color:rgba(255, 255, 255, 0);
}

.member img{
    width: 170px;
    height: auto;
    border-radius: 6px;
    box-shadow: 1px 1px 6px rgb(0, 0, 0);
    margin: 5px;
    align-self: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}   

.grid .member {
    display: flex;
    flex-flow: column;
    text-align: start;
    padding: 10px;
    background-color: var(--color3);
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.grid #name {
    text-align: center;
}

.grid .member a:hover,
.grid .member a:active {
    text-decoration: underline;
    color: var(--color1);
    transition: background-color 0.5s ease;
    transition-delay: 0s;
}

.list {
    display: flex;
    flex-flow: column;
}

.list .member img {
    display: none;
}

.list .member {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    padding: 10px;
    margin: 5px;
    align-items: center;
}

.list #name {
    text-align: start;
}

.list .member:nth-child(odd) {
    background-color: var(--color1);
    color: var(--color3);
}

.list .member:nth-child(odd) .links {
    color: white;
}

.list .member:nth-child(even) {
    background-color: var(--color3);
    color: var(--color1);
}

#yellow {
    color: var(--color3);
}

#grid, #list {
    align-self: center;
}

#menu {
    background-color: var(--color1);
    margin: 0;
    display: grid;
    grid-template: 0.5fr 0.5fr / 0.2fr 0.8fr;
    align-items: center;
    gap: 10px;
}

#hidden-menu {
    display: none;
}

#logo {
    width: 100px;
    height: auto;
    border-radius: 6px;
    justify-self: center;
}

#hero {
    display: block;
    width: 100%;
}

#sociallinks img {
    width: 10%;
    height: auto;
}

@media screen and (max-width: 500px) {

    .button {
        font-size: 1.25rem;
        width: 50%;
    }

    #menu {
        grid-template-rows: 1fr; 
        gap: 10px;
    }

    #humbutton {
        display: flex;
        justify-content: space-between;
    }

    #title {
        font-size: 1.5rem;
        align-self: center;
        text-align: center;
    }

    .filters {
        justify-content: start;
    }

    .block {
        display: flex;
        flex-flow: column;
    }

    .student, .contact {
        text-align: start;
    }

    #hidden-menu {
        display: flex;
    }

    #logo {
        width: 100%;
        height: auto;
        grid-row: 1;
    }

    /** menu **/

    .navigation {
        display: none;
    }

    #hidden-menu::before {
        content: "≡";
        color: white;
        font-size: 3rem;
        font-family: var(--roboto);
        justify-self: center;
        align-self: center;
    }

    #hidden-menu.show::before {
        content: "x";
        font-family: var(--roboto);
        font-size: 3rem;
        justify-self: center;
        align-self: center;
    }


    .show {
        display: flex;
        flex-flow: column;
    }

    #members {
        grid-template-columns: 1fr;
    }
        
    .list .member {
        display: flex;
        flex-flow: column;
        align-items: start;
    }
}
